.btnrent {
  text-transform: uppercase;
  padding: 8px 10px;
  background-color: rgba($color: #113f67, $alpha: 0.8);
  color: white;
  font-weight: bold;
  font-family: 'montserrat';
  border: none;
  margin-top: 10px;
}