<div class="" id="user-infos">
<%= @user.first_name %>
<%= @user.last_name %>
</div>
<div class="" id="buttons">
<%= link_to "Add a pokemon to your collection", new_pokemon_path, class: "btn btn-primary btn-lg" %>
</div>