<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
          url('<%= @url.sample%>')">
  <div class="container">
    <div class="petit-titre">
      <h1>Find your own</h1>
      <h2>Pokemon</h2>
    </div>
    <div class="search-bar">
      <form action="/pokemons" class="form">
        <input type="text" name="search" placeholder="trouvez votre pokemon" class="recherche">
        <input type="submit" value="Rechercher" class="btnrecherche">
      </form>
    </div>
  </div>
</div>
<div class="container" id="card-container">
<% @pokemons.each do |pokemon| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= pokemon.race.photo %>);">
          <div class="card-description">
            <h2><%= pokemon.name %></h2>
          </div>
          <%= link_to "", pokemon_path(pokemon), class: 'card-link' %>
        </div>
      </div>
    <% end %>
</div>