<% @url = ["https://eternia.fr/public/media//letsgo/artworks/divers/pokemon_partenaire.jpg", "http://getwallpapers.com/wallpaper/full/b/a/6/647483.jpg", "https://wallpapertag.com/wallpaper/full/7/e/5/189217-amazing-pokemon-hd-wallpaper-2560x1600-download-free.jpg", "https://avante.biz/wp-content/uploads/Wallpaper-Pokemon/Wallpaper-Pokemon-012.jpg", "http://www.wallpaperbetter.com/wallpaper/9/252/21/pokemon-background-for-1080P-wallpaper.jpg", "https://wallpaperplay.com/walls/full/d/2/5/101777.jpg", "https://images4.alphacoders.com/686/686185.jpg", "https://images8.alphacoders.com/723/723281.jpg", "https://wallpaperplay.com/walls/full/5/9/a/63005.jpg", "https://xshyfc.com/wp-content/uploads/data/2018/2/15/Pokemon-Wallpaper-Lugia-PIC-WPHR11496.jpg", "https://wallpapertag.com/wallpaper/full/0/9/c/142769-free-download-ghost-pokemon-wallpaper-1920x1200.jpg", "https://wallpaperplay.com/walls/full/9/7/3/280169.jpg", "https://i.pinimg.com/originals/53/d9/58/53d9581e5750e63e7a9c889b2d0cff50.jpg", "https://images5.alphacoders.com/389/389247.png", "https://hdqwalls.com/wallpapers/pokemon.jpg", "https://wallpapercave.com/wp/2yrawWz.jpg", "https://wallpapersbq.com/images/pokemon/pokemon-wallpaper-35.jpg", "http://www.cerc-ug.org/pic/b/11/119684_legendary-pokemon-wallpaper.jpg", "http://getwallpapers.com/wallpaper/full/c/4/4/53773.jpg", "https://wallpaperplay.com/walls/full/0/2/5/285331.jpg", "http://images6.fanpop.com/image/photos/39400000/1st-generation-pokemon-39423803-4724-2835.jpg", "http://images6.fanpop.com/image/photos/39600000/Cute-Pokemon-Wallpaper-cutest-pokemon-39649663-1920-1080.jpg"] %>
<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
          url('<%= @url.sample%>')">
  <div class="container">
    <div class="petit-titre">
      <h1>Find your own</h1>
      <h2>Pokemon</h2>
    </div>
    <div class="search-bar">
      <form action="/pokemons" class="form">
        <input type="text" name="search" placeholder="trouvez votre pokemon" class="recherche">
        <input type="submit" value="Rechercher" class="btnrecherche">
      </form>
    </div>
  </div>
</div>
<div class="container" id="card-container">
  <div class="row text-center">
    <div class="col-xs-4">
      <% @pokemons.each do |pokemon| %>
        <% unless pokemon.booked %>
        <%= render 'card', pokemon: pokemon %>
          
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  const cards = document.querySelectorAll("figure")
  cards.forEach((card) => {
  card.classList.remove("card--normal");
  card.classList.add(`card--${card.querySelector("h3").dataset.category}`);
});
</script>
