<div class="container">
<div class="all">
<h1>ADD YOUR POKEMON</h1>
<%= render 'form', pokemon: @pokemon %>
<div class="new-pokemon-back-button">
    <div class="buttons">
      <%= link_to 'Back', pokemons_path %>
      </div>
</div>
</div>
</div>
