<div id="review">
      <div id="rating-stars"><% review.rating.times do  %>
          <i class="fas fa-star"></i>
        <% end %></div>
      <hr id="rating-separator">
      <p><%= review.content %></p>
    </div>